.Jasper {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.2em;
  background-color: red;
  color:white;
	-webkit-animation: colorChange 8s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes colorChange {
  0%   {background: #003300;}
  25%  {background: #440044;}
  50%  {background: #220000;}
  75%  {background: black;}
  100% {background: #003300;}
}

.JasperFace {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.JasperText {
  color: yellow;
  margin-left: 1em;
  margin-right: 1em;
}

.JasperTitle {
  font-size: 2em;
}

.JasperSubtitle {
  color: #999999;
}
