body {
	background-color:red;
	-webkit-animation: colorchange 8s;
	-webkit-animation-iteration-count: infinite;
	color:white;
	font-family:helvetica;
	margin:0px;
	padding:0px;
	font-size:1.2em;
}
#face {
	width:80%;
	margin-top:-2em;
}
#text {
	color:yellow;
	margin-left:1em;
	margin-right:1em;
}
@-webkit-keyframes colorchange {
  0%   {background: #003300;}
  25%  {background: #440044;}
  50%  {background: #220000;}
  75%  {background: black;}
  100% {background: #003300;}
}
.h1 {
	font-size:1.5em;
}
.subtitle {
	margin-left:1em;
	margin-right:1em;
	font-size:0.9em;
	color:#999999;
}
